// Place all the styles related to the public/articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// index
.article-heading {
  background-color: rgba(0, 0, 0, 0.5);
}

// show
.textalign {
  text-align: center;
  padding-top: 10px;

  div.center {
    height: 400px;
    width: 100%;
    margin: 50px auto;
    text_align: center;

    p .article-right {
      text-align: right;
    }

    .skippr {
      width: 60%;
      height: 400px;
      position: relative;
      overflow: hidden;
      margin: 0 auto;
    }

    .aritcle-image {
      height: 400px;
      width: 400px;
    }
  }

  .article-box {

    .article-button {
    margin: 10px auto;
    }

    .article-profile-img {
      border-radius: 50%;
      margin-bottom: 15px;
    }

    .article-favorite {
      margin: 10px auto;
      text-align: right;
    }
  }
}

// _index
.article-indexbox {
  .ctn {
    height: 150px;
    }

  .article-profile-img {
    border-radius: 50%;
    margin-bottom: 15px;
  }
}

.map-container {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 56.25%;
}

.map-canvas {
    position: absolute;
    top: 0;
    right: 40%;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
}
.map-route {
    overflow: scroll;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 54px;
    left: 60%;
    margin: 0;
    padding: 10px;
}

.map-search {
    position: absolute;
    height: 54px;
    right: 0;
    bottom: 0;
    left: 60%;
    margin: 0;
    padding: 10px;
}

.break {
  word-break: break-all;
}





