// Place all the styles related to the public/articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// article共通
.article-flex {
  display: table;
  margin: 15px auto;
  position: relative;
  z-index: 0;

  .article-heading {
    text-align: center;
    margin: 15px auto;
    h3 {
      font-family: 'Caveat', cursive;
      padding: 1em;
      position: relative;
      background: linear-gradient(to right, #99ffff 0%, #66ffff 0.5%, #66ffff 13%, #99ffff 16%);
    }
  }
}
.article-flex .article-heading h3::after {
  content:"";
  display:block;
  position: absolute;
  z-index: -1;
  bottom: 5px;
  right: 0;
  height: 75px;
  width: 99%;
  background: rgba(0,0,0,0.6);
  box-shadow: 0 5px 5px rgba(0,0,0,0.5);
  transform: rotate(2deg);
}

// show
.textalign {
  text-align: center;
  padding-top: 10px;
  .skippr {
    div {
      background-size: contain !important;
      background-repeat: no-repeat !important;
    }
  }

  div.center {
    height: 400px;
    width: 100%;
    margin-bottom: 50px;

    .skippr {
      width: 80%;
      height: 400px;
      position: relative;
      overflow: hidden;
      margin: 0 auto;
    }

    .aritcle-image {
      height: 400px;
      width: 400px;
    }
  }

  .article-box {

    .article-show-border {
      border-right: 1px dotted black;
    }

    .article-button {
    margin: 10px auto;
    }

    .article-profile-img {
      border-radius: 50%;
      margin-bottom: 15px;
    }

    .article-favorite {
      margin: 10px auto;
      text-align: right;
    }

    tr {
      border-top: 1px solid #dee2e6;
      border-bottom:  1px solid #dee2e6;
    }
  }
}

// _index
.article-template {
  margin: 0 10px;
  .skippr {
    div {
      background-size: contain !important;
      background-repeat: no-repeat !important;
    }
  }

  .article-col {
    border-right: 1px #dee2e6 dashed;
  }

  .ctn {
    height: 250px;
  }

  .article-profile-img {
    border-radius: 50%;
    margin-bottom: 15px;
  }

  .article-button{
    text-align: center;
  }

  .article-tagname {
    font-size: smaller;
  }
}

// new
.article-error-message {
  color: red;
  text-align: center;
  margin: 15px;
}

// _form
.article-form {
  margin: 0 auto;
  text-align: center;
  width: 80%;

  .form-field {
    height: 65px;
  }

  .form-text {
    width: 80%;
    height: 100px;
  }

  .article-form-right {
    width: 30%;
  }

  .article-form-left {
    text-align: left;
    border-left: 1px solid #dee2e6;
    width: 65%;
    .article-tag {
      margin: 5px;
    }
  }

}

// map
.article-map {
  margin: 0 auto;
}



.map-container {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 56.25%;
}

.map-canvas {
    position: absolute;
    top: 0;
    right: 40%;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
}
.map-route {
    overflow: scroll;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 54px;
    left: 60%;
    margin: 0;
    padding: 10px;
}
.map-search {
    position: absolute;
    height: 54px;
    right: 0;
    bottom: 0;
    left: 60%;
    margin: 0;
    padding: 10px;
}
.break {
  word-break: break-all;
}





