// Place all the styles related to the public/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// user共通
.user-flex {
  display: table;
  margin: 15px auto;

  .user-heading {
    background-color: rgba(0, 255, 0, 0.5);
    text-align: center;
    margin: 15px auto;
  }
}

// showページ
.user-page {
  text-align: center;

  .profile {
    width: 40%;
    margin: 10px auto;
  }

  .profile-img {
    width: 100%;
    border-radius: 50%;
    height: 400px;
  }

  .user-edit {
    margin: 15px 0;
    font-size: larger;
  }

  .lnk {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  .user-profile {
    width: 80%;
    margin: 0px auto;

    .usertr{
      border-bottom: 1px solid #dee2e6;
      height: 100px;
    }

    .usertd{
      width: 150px;
    }
  }
}

// edit
.user-form {
  margin: 0 auto;
  text-align: center;
  width: 80%;

  .user-form-right {
    width: 30%;
  }

  .user-form-left {
    text-align: left;
    border-left: 1px solid #dee2e6;
    width: 65%;

    .form-field {
      height: 65px;
    }

    .form-text {
      width: 600px;
      height: 100px;
    }
  }
}
