 <div class="about">
  <div class="text">
   <h1>marks</h1>
   <p>
    一度しかない人生は、どこに行っても何をしてもいいのです。<br />
    このサイトで、いきたい場所・観てみたい場所を探し人生の目標としましょう！<br />
    あなたの世界がさらに広がるはずです！
   </p>
  </div>
 </div>
