 <div class="img">
  <div class="text">
   <h1>marks</h1>
   <p>
    行きたい場所を探し、計画を立てるまでこのアプリひとつあれば全て済ませることが出来ます
   </p>
   <%= link_to "新規登録", new_user_registration_path, class: "btn btn-light rounded-pill" %>
   <%= link_to "ログイン", new_user_session_path, class: "btn btn-primary rounded-pill" %>
  </div>
 </div>
