<!-- 見出し -->
<div class="article-flex">
  <div class="article-heading">
    <h3>Popular</h3>
  </div>

  <!-- タグ検索フォーム -->
  <div class="article-search">
    <%= form_tag articles_path, method: :get, class: "boards_searchForm" do %>
      <%= select_tag :tagname_id,
      options_from_collection_for_select(Tagname.all, :id, :tag_name, params[:Tagname_id]),
      {
        prompt: 'タグで絞り込み検索',
        onchange: 'submit(this.form);'
      }
      %>
    <% end %>
  </div>
</div>

<!-- 一覧表示へ -->
<div class="container">
  <%= render 'public/articles/index', articles: @articles %>
</div>
