<div class="article-flex">
  <div class="article-heading">
    <h3>Map page</h3>
  </div>


  <div class="article-search">
    <input id="address" type="textbox" value="東京駅">
    <input type="button" value="検索" onclick="codeAddress()">
  </div>
</div>

<p class="map-caution-text">※ 位置情報が写真に含まれていない場合は、東京駅が表示されます。</p>

<div class="article-map", id='map'></div>

<style>
#map {
  height: 600px;
  width: 600px;
}
</style>

<script>
var map
var geocoder
var latix = <%= @lat %> ;
var lngiy = <%= @lng %> ;

var display = document.getElementById('display')

function initMap(){
  geocoder = new google.maps.Geocoder()
  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: latix, lng: lngiy},
    zoom:12
  });

  marker = new google.maps.Marker({
    position:  {lat: latix, lng: lngiy},
    map: map
  });
}


function codeAddress(){
  let inputAddress = document.getElementById('address').value;

  geocoder.geocode( { 'address': inputAddress}, function(results, status) {
    if (status == 'OK') {
      map.setCenter(results[0].geometry.location);
      var marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
      });
      display.textContent = "検索結果：" + results[ 0 ].geometry.location
    } else {
      alert('該当する結果がありませんでした：' + status);
    }
  });
}

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_KEY'] %>&callback=initMap" async defer></script>
