<div class="article-flex">
  <div class="article-heading">
    <h3>新規投稿欄</h3>
  </div>
</div>

<% if @article.errors.any? %>
<%= @article.errors.count %>件のエラーが発生。
<% @article.errors.full_messages.each do |message| %>
  <%= message %>
<% end %>
<% end %>

<%= render 'public/articles/form', article: @article %>