<!-- 見出し -->
<div class="article-flex">
  <div class="article-heading">
    <h3>TimeLine</h3>
  </div>
</div>

<!-- 一覧表示へ -->
<div class="container">
  <%= render 'public/articles/index', articles: @articles %>
</div>

