// Place all the styles related to the admin/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.admin-user-index {
  text-align: center;
  .admin-user-heading {
    margin: 30px;
  }

  .admin-users {
    margin: 0 auto;
    width: 90%;
  }
}