/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.notice {
  color: green;
  text-align: left;
  font-size: large;
}

.alert {
  color: red;
  text-align: center;
  font-size: x-large;
}

.header_header {
  .header-icon {
    text-align: center;
  }

  .header-search {
    .search-icon {
      color: white;
    }
  }
}


.pagination>li>a {
  border: none;
  color: #696969;
}

.pagination>.active>a {
  background: #93c9ff;
  border-radius: 15px;
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {
  border-radius: 15px;
}

// devise　新規登録・ログイン画面エラーメッセージ
.devise-error-message {
  color: red;
  text-align: center;
  margin-bottom: 15px;
}

footer {
  position: inherit;
  bottom: 0;
  width: 100%;
  margin-top: 5px;
  .footer-copyright {
    color: black;
    margin: 10px auto;
  }
}



// レスポンシブ対応
@media (max-width:991px) and (min-width:845px) {
  .container {
    max-width: 100%;
  }
}

@media (max-width:844px) and  (min-width:600px) {
  body {
  font-size: small;
  }

  .container {
    max-width: 100%;
  }

  // user-show
  .user-page {
    .profile {
      .profile-img {
        height: auto;
      }
    }
  }

  // _index
  .article-template {

    .article-button {
      font-size: x-small;
    }

    .article-tagname {
      font-size: x-small;
    }
  }
}

@media (max-width:599px) and  (min-width:374px) {
  body {
    font-size: small;
    width: 100%;
  }

  // ヘッダー
  .header_header {

    .header-menu {
      font-size: small;
    }

    .header-search {
      font-size: smaller;
    }
  }

  // user-show
  .user-page {
    .profile {
      .profile-img {
        height: auto;
      }
    }

    .lnk {
      font-size: smaller;
    }
  }

  // _index
  .article-template{
    display: block;

    .article-col {
      max-width: 100%;
      border-bottom: 1px black dashed;
      border-right: none;
      margin-top: 10px;
    }
  }

  .relationships-table {
    font-size: small;
  }

    // article-new
  .article-form {
    width: unset;
  }

  // article-show
  .textalign {
    .article-box {
      .article-show-border {
        border-right: none;
        border-bottom: 1px dotted black;
      }
    }
  }
}

@media (max-width:373px) and (min-width:0px) {
  body {
    font-size: small;
    width: 100%;
  }

    // ヘッダー
  .header_header {

    .header-menu {
      font-size: small;
    }

    .header-search {
      font-size: smaller;
    }
  }

  // user-show
  .user-page {

    .profile {

      .profile-img {
        height: auto;
      }
    }

    .lnk {
      font-size: smaller;
      width: 95%;
    }
  }

  // _index
  .article-template {
    display: block;

    .article-col {
      max-width: 100%;
      border-bottom: 1px black dashed;
      border-right: none;
      margin-top: 10px;
    }
  }

  // new
  .article-form {
    width: 100%;
  }

  // article-show
  .textalign {
    .article-box {
      .article-show-border {
        border-right: none;
        border-bottom: 1px dotted black;
      }
    }
  }
}