/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}

.notice {
  color: green;
  text-align: left;
  font-size: large;
}

.alert {
  color: red;
  text-align: center;
  font-size: x-large;
}

// ヘッダー
.header_header {
  background-image: image-url("head.jpg");
  background-position: center;
  background-size: 100%;
  height: 150px;

  .header-icon-ul {
    .header-icon-li {
      text-align: center;
      margin-right: 10px;
      .header-menu {
        font-family: 'Homemade Apple', cursive;
        display: inline-block;
        position: relative;
        overflow: hidden;
        color: white;
        text-decoration: none;
      }
    }
    .header-search {
      .search-icon {
        color: white;
      }
    }
  }
}
.header-menu:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  transform: translate(-100%, 0);
  transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.4s;
  content: "";
}
.header-menu:hover:after {
  transform: translate(0, 0);
}


.pagination>li>a {
  border: none;
  color: #696969;
}

.pagination>.active>a {
  background: #93c9ff;
  border-radius: 15px;
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {
  border-radius: 15px;
}

// devise　新規登録・ログイン画面エラーメッセージ
.devise-error-message {
  color: red;
  text-align: center;
  margin-bottom: 15px;
}

// フッター
footer {
  background-image: image-url("footer.jpg");
  background-size: 100%;
  background-position: center;
  position: inherit;
  bottom: 0;
  width: 100%;
  height: 130px;
  padding: 30px;
  .footer-copyright {
    color: white;
    margin: 10px auto;
  }
}



// レスポンシブ対応
@media (max-width:991px) and (min-width:845px) {
  .container {
    max-width: 100%;
  }
}

@media (max-width:844px) and  (min-width:600px) {

  body {
  font-size: small;
  }

  .container {
    max-width: 100%;
  }

  // homes-top
  .top-index {
    .top-header {
      .top-header-text {
        .top-header-h {
          font-size: x-large;
            margin: 10px;
        }
      }
      .top-logo {
        margin: 10px auto;
      }
    }
  }

  // user-show
  .user-page {
    .profile {
      .profile-img {
        height: auto;
      }
    }
  }

  // _index
  .article-template {
    .article-button {
      font-size: x-small;
    }
    .article-tagname {
      font-size: x-small;
    }
  }
}

@media (max-width:599px) and  (min-width:374px) {
  body {
    font-size: small;
    width: 100%;
  }

  // ヘッダー
  .header_header {
    .header-logo {
      .header-logo-mark {
        border-radius: 50%;
      }
    }
    .header-menu {
      font-size: small;
    }
    .header-search {
      font-size: smaller;
    }
  }

  // homes-top
  .top-index {
    .top-header {
      .top-header-text {
        .top-header-h {
          font-size: x-large;
            margin: 10px;
        }
      }
      .top-logo {
        margin: 10px auto;
      }
    }
  }

  // homes-about
  .about {
    .about-header {
      .about-header-logo {
        border-radius: 50%;
      }
    }
    .about-text {
      width: 90%;
      padding: 10px;
      .about-text-head {
        font-size: x-large;
      }
    }
  }

  // user-show
  .user-page {
    .profile {
      width: 80%;
      .profile-img {
        height: auto;
      }
    }
    .lnk {
      font-size: smaller;
    }
  }

  // _index
  .article-template{
    display: block;
    .article-col {
      max-width: 100%;
      border-bottom: 1px black dashed;
      border-right: none;
      margin-top: 10px;
    }
  }
  .relationships-table {
    font-size: small;
  }
    // article-new
  .article-form {
    width: unset;
  }
  // article-show
  .textalign {
    .article-box {
      .article-show-border {
        border-right: none;
        border-bottom: 1px dotted black;
      }
    }
  }
}

@media (max-width:373px) and (min-width:0px) {
  body {
    font-size: small;
    width: 100%;
  }

    // ヘッダー
  .header_header {
    .header-logo {
      .header-logo-mark {
        border-radius: 50%;
      }
    }
    .header-menu {
      font-size: small;
    }
    .header-search {
      font-size: smaller;
    }
  }

  // homes-top
  .top-index {
    .top-header {
      .top-header-text {
        .top-header-h {
          font-size: x-large;
            margin: 10px;
        }
      }

      .top-logo {
        margin: 10px auto;
      }
    }
  }

  // homes-about
  .about {
    .about-header {
      .about-header-logo {
        border-radius: 50%;
      }
    }
    .about-text {
      width: 90%;
      padding: 10px;
      .about-text-head {
        font-size: x-large;
      }
    }
  }

  // user-show
  .user-page {
    .profile {
      width: 80%;
      .profile-img {
        height: auto;
      }
    }
    .lnk {
      font-size: smaller;
      width: 95%;
    }
  }

  // _index
  .article-template {
    display: block;
    .article-col {
      max-width: 100%;
      border-bottom: 1px black dashed;
      border-right: none;
      margin-top: 10px;
    }
  }

  // new
  .article-form {
    width: 100%;
  }

  // article-show
  .textalign {
    .article-box {
      .article-show-border {
        border-right: none;
        border-bottom: 1px dotted black;
      }
    }
  }
}