<div class="user-flex">
  <div class="user-heading">
      <h3><%= @user.name %>'s pictures</h3>
  </div>
</div>

<div class="container">
  <%= render 'public/articles/index', articles: @articles %>
</div>
