<footer class="bg-light text-center text-white">

    <!-- Copyright -->
    <div class="footer-copyright">
      © 2021 Copyright:
      <a href="https://mdbootstrap.com/"></a>
    </div>

    <!-- Facebook -->
    <a
      class="btn btn-primary btn-floating m-1"
      style="background-color: #3B5998;"
      href="https://ja-jp.facebook.com"
      role="button"
    >
      <i class="fab fa-facebook-f"></i>
    </a>
    <!-- Twitter -->
    <a
      class="btn btn-primary btn-floating m-1"
      style="background-color: #55ACEE;"
      href="https://twitter.com/"
      role="button"
    >
      <i class="fab fa-twitter"></i>
    </a>
    <!-- Instagram -->
    <a
      class="btn btn-primary btn-floating m-1"
      style="background-color: #AC2BAC;"
      href="https://www.instagram.com"
      role="button"
    >
      <i class="fab fa-instagram"></i>
    </a>
    <!-- YouTube -->
    <a
      class="btn btn-primary btn-floating m-1"
      style="background-color: #E60033;"
      href="https://www.youtube.com"
      role="button"
    >
      <i class="fab fa-youtube"></i>
    </a>
  </div>
</footer>